################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PMA-Angular/FileContentIndex/0f037516-ea05-4b21-ad86-0b49be780427.vsidx
/.vs/PMA-Angular/FileContentIndex
